body#abbrev {
  margin: 30px 30px 10px 30px;
  padding-bottom: 20px;
  font-family: Georgia,serif;
  background-color: #EFEFEF;
}

body#abbrev tei-div#t1head, tei-div#dTrans, tei-div#dTables, tei-div#dPer, tei-div#dAvail, tei-div#dFut, tei-div#dDef, tei-div#dCopyright, tei-div#dCetei, tei-div#dIntro, tei-div#dVersionHist, tei-div#dBibl, tei-div#dAgLeg, tei-div#dLinks, tei-div#dTitle {display: none;}


body#abbrev::after {
  background: url("../img/baridalyawm.jpg");
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: -400%;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}


#h1 {
  text-align: center;
}

.navbar {
  margin-bottom: 20px;
  font-size: 30px;
}


/* tei-div {
  display: block;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}
tei-hi[rend=italic] {
  font-style: italic;
} */





body#abbrev {
  font-family: Georgia,serif;

}

tei-div#dAgen, tei-div#dAppendix {
  position: relative;
  display: block;
margin-top: 30px;
margin-bottom: 30px;
margin-left: 60px;
margin-right: 60px;
  font-size: 20px;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}

tei-div#dAgen tei-head {
  font-size: 30px;
  font-weight: bold;

}

tei-div#dAbbr tei-head {font-size: 25px;
font-weight: bold;}

tei-div#dAppendix tei-head {
  display: none;
}

tei-div[type=abbr] tei-note {
  display:none;
}

tei-div[type=abbr] tei-abbr {
  font-style: bold;
}
