

body#copyri {
  margin: 30px 30px 10px 30px;
  padding-bottom: 20px;
  font-family: Georgia,serif;
  background-color: #EFEFEF;
}

body#copyri tei-div#t1head, tei-div#dAgen, tei-div#dAppendix, tei-div#dTrans, tei-div#dTables, tei-div#dPer, tei-div#dAvail, tei-div#dFut, tei-div#dDef, tei-div#dCetei, tei-div#dIntro, tei-div#dVersionHist, tei-div#dBibl, tei-div#dAgLeg, tei-div#dLinks, tei-div#dTitle {display: none;}

#h1 {
  text-align: center;
}

body#copyri::after {
  background: url("../img/baridalyawm.jpg");
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}


.navbar {
  margin-bottom: 20px;
  font-size: 30px;
}


tei-div {
  display: block;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}
tei-hi[rend=italic] {
  font-style: italic;
}


tei-div#dCopyright {
  padding-top: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
