body#chrono {
  margin: 30px 30px 10px 30px;
  padding-bottom: 20px;
  font-family: Georgia,serif;
  background-color: #EFEFEF;
  /* background-image: url(../img/baridalyawm.jpg); */

}

body#chrono tei-div#t1head, tei-table#t2, tei-div#dTrans, tei-div#dPer, tei-div#dAvail, tei-div#dFut, tei-div#dDef, tei-div#dCopyright, tei-div#dCetei, tei-div#dIntro, tei-div#dVersionHist, tei-div#dAgen, tei-div#dBibl, tei-div#dAppendix, tei-div#dAgLeg, tei-div#dLinks, tei-div#dTitle {display: none;}

body#chrono::after {
  background: url("../img/baridalyawm.jpg");
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
}


#h1 {
  text-align: center;
}

.navbar {
  margin-bottom: 20px;
  font-size: 30px;
}

/* #navbarsExample10 {
  background-color: #FF3B3F;
} */


#indexesBar {
  overflow: hidden;
  background-color: #333;
  text-align: center;
  margin: auto;
  width: 50%;
}

/* Navbar links */
#indexesBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

/* Page content */
#indexesBar.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
#indexesBar.sticky {
  position: fixed;
  text-align: center;
  top: 0;
  width: 50%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
#indexesBar.sticky + .content {
  padding-top: 60px;
}


tei-table#t1 {
  margin: 100px 50px 100px 50px;
}


tei-div {
  display: block;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}
tei-hi[rend=italic] {
  font-style: italic;
}

td {
  border-bottom: thin solid black;
}

tr[role="label"] {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr[role="data"]:hover {background-color: #A9A9A9;}
