body#indexes {
  margin: 30px 30px 10px 30px;
  padding-bottom: 20px;
  font-family: Georgia,serif;
  background-color: #EFEFEF;
}

body#indexes tei-div#t1head, tei-div#dAgen, tei-div#dAppendix, tei-div#dTrans, tei-div#dTables, tei-div#dPer, tei-div#dAvail, tei-div#dFut, tei-div#dDef, tei-div#dCopyright, tei-div#dCetei, tei-div#dIntro, tei-div#dVersionHist, tei-div#dBibl, tei-div#dAgLeg, tei-div#dLinks, tei-div#dTitle {display: none;}

body#indexes::after {
  background: url("../img/baridalyawm.jpg");
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: -500%;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}


#h1 {
  text-align: center;
}

.navbar {
  margin-bottom: 20px;
  font-size: 30px;
}


#indexesBar {
  overflow: hidden;
  background-color: #333;
  text-align: center;
  margin: auto;
  width: 50%;
}

/* Navbar links */
#indexesBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

/* Page content */
#indexesBar.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
#indexesBar.sticky {
  position: fixed;
  text-align: center;
  top: 0;
  width: 50%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
#indexesBar.sticky + .content {
  padding-top: 60px;
}



tei-div {
  display: block;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}
tei-hi[rend=italic] {
  font-style: italic;
}
tei-table {

border-top:
thin solid
black;

border-left:
thin solid
black;

font-size:
85%;

}

tei-row {

display:
grid;

grid-auto-flow:
column;

grid-auto-columns:
1fr;

}

tei-row[role=label] {

font-weight:
bold;

}

tei-row:nth-child(even) {

background-color:
silver;

}

tei-row:nth-child(odd) {

background-color:
#eeeeee;

}

tei-cell {

border-right:
thin solid
black;

border-bottom:
thin solid
black;

padding:
2px;

}



div#d1 {
  line-height: 200px;
  height: 200px;
  text-align: center;
  font-size: 30px;
}

tei-placeName {
  font-weight: bold;
  text-align: left;
  list-style-type: square;
}

tei-persName {
  font-weight: bold;
  text-align: left;
  list-style-type: square;
}

/* #locations {
  display: none;
} */

#persons {
  display: none;
}

tei-list[type=firstList]>tei-item {
  list-style-type:disc;
  display: list-item;
}

/* tei-item[n="1place"] {

float: left;
display: block;

} */
