body#home {
  margin: 30px 30px 10px 30px;
  padding-bottom: 20px;
  font-family: Georgia,serif;
  background-color: #EFEFEF;
}

body#home tei-div#t1head, tei-div#dTables, tei-div#dTrans, tei-div#dAgen, tei-div#dBibl, tei-div#dAppendix, tei-div#dAgLeg, tei-div#dLinks {display: none;}

body#home::after {
  background: url("../img/baridalyawm.jpg");
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: -130%;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

#h1 {
  text-align: center;
}

.navbar {
  margin-bottom: 20px;
  font-size: 30px;
}

tei-div {
  display: block;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}
tei-hi[rend=italic] {
  font-style: italic;
}
tei-table {

border-top:
thin solid
black;

border-left:
thin solid
black;

font-size:
85%;

}

tei-row {

display:
grid;

grid-auto-flow:
column;

grid-auto-columns:
1fr;

}

tei-row[role=label] {

font-weight:
bold;

}

tei-row:nth-child(even) {

background-color:
silver;

}

tei-row:nth-child(odd) {

background-color:
#eeeeee;

}

tei-cell {

border-right:
thin solid
black;

border-bottom:
thin solid
black;

padding:
2px;

}



tei-div#dTitle {
  text-align: center;
  display: block;
margin-top: 1.33em;
margin-bottom: 1.33em;
margin-left: 60px;
margin-right: 60px;
font-weight: bold;
font-family: serif;
font-size: 20px;
word-wrap: break-word;

}

tei-div#dCopyright {
  text-align: center;
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 60px;
  margin-right: 60px;
  font-weight: bold;
  font-family: serif;
  font-size: 20px;
  word-wrap: break-word;
}
tei-div#dCetei {
  text-align: center;
  display: block;
margin-top: 1.33em;
margin-bottom: 1.33em;
margin-left: 60px;
margin-right: 60px;
font-weight: bold;
font-family: serif;
font-size: 20px;
word-wrap: break-word;
}

tei-div#dIntro {
  position: relative;
  display: block;
margin-top: 30px;
margin-bottom: 30px;
margin-left: 60px;
margin-right: 60px;
  font-size: 20px;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}
